{% extends 'base.html' %}

{% load bootstrap_tags %}
    
{% block content %}

<div class="row panel-body">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <div class="card">
            <h5 class="card-header">Krissy's Quilts</h5>
            <div class="card-body">
                <h5 class="card-title">Subscribe to our mailing list!</h5>
                <p class="card-text">
                    <form method="POST">
                        {% csrf_token %}
                        {{ subscribe_form | as_bootstrap }}
                    <button class="btn btn-primary" type="submit">Submit</button>    
                    </form>
                </p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}