{% extends 'base.html' %}
    
{% block content %}

<nav class="navbar navbar-head">
    <div class="jumbotron jumbotron-fluid" id="home">
        
        <p>Lorem ipsum..... stuf.....ya.....more stuff </p>
        
    </div>
</nav>


<ul class="list-unstyled">
    
    {%for product in products %}
    <li class="col-sm-4" style="padding: 5px;">
            <div class="col panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{ product.price }} </p>
                <form method="post" action="{%url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="quantity" type="number" min="1" max="999" class="form-control" default value="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </span>
                                </div>
                            </form>
            </div>
    </li>       
    {% endfor %}
    
</ul>    
{% endblock %}