{% extends 'base.html' %}
    
{% block content %}

<nav class="navbar navbar-head">
    <div class="jumbotron jumbotron-fluid" id="home">
        
        <h1>WELCOME!!</h>
        <p>
            Looking for that extra-thoughtful gift?<br>
            Take a look at all the handmade quilts we have to offer!<br>
        </p>
        <p>
            Like quilting? Want to know how to make these blankets yourself?<br>
            Maybe you just have a question about the pattern?<br>
            Check out our patterns section to upload your own pattern, ask questions about the quilts we offer or quilting in general!
        </p>
    </div>
</nav>


<ul class="list-unstyled">
    
    {%for product in products %}
    <li class="col-sm-4" style="padding: 5px;">
            <div class="col panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{ product.price }} </p>
                <form method="post" action="{%url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="quantity" type="number" min="1" max="999" class="form-control" default value="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </span>
                                </div>
                            </form>
            </div>
    </li>       
    {% endfor %}
    
</ul>    
{% endblock %}