.navbar {
    background-image: -webkit-linear-gradient(#ffffff, #aea396 60%, #795549);
    background-image: -o-linear-gradient(#ffffff, #aea396 60%, #795549);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #aea396), to(#795549));
    background-image: linear-gradient(#ffffff, #aea396 60%, #795549);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #baad9d;
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

body {
    font-family: Arial;
    padding-top: 50px;
}

.product {
    color:#f7f6f6cc;
    min-height: 80px;
    
}

.body {
    background-attachment: fixed;
    background-image: url("/media/images/board-bricks-brickwork-concrete-269063.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    color: #65022c;
}
.panel-display {
    background-color: #AAAAAA00;
}
.panel-body {
    background-color: #bfb3a3ad;
}

footer {

    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.foot {
    background-color: #795548;
    margin-bottom: 0;
    height: 15vh;
    width: 100vw;
    z-index: 1;
    color: #f59b2d;
    
}

.icon-bar {
    background-color: #f59b2d;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.products {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.profile {
    color: yellow;
}